body.widget {
    height: 755px;
    width: 100%;
    max-width: 350px;
    margin: auto;
}

body.widget #map {
    height: 350px;
}

body.widget .leaflet-right .leaflet-control {
    float: right;
}

body.widget .leaflet-left .leaflet-control {
    float: left;
}

body.widget #infowindow {
    height: 350px;
    border-radius: 5px;
    padding: 0;
}

body.widget .info.closed {
    max-width: none;
}

body.widget #logo-widget {
    text-align: center;
}

body.widget #logo {
    width: auto;
    height: 50px;
}

body.widget .legend {
    line-height: 14px;
}

body.widget .legend i {
    width: 14px;
    height: 14px;
    margin-right: 0;
}

body.mobile .menu-ui a {
    padding: 5px 10px;
}

body.widget img.reset, 
body.widget img.detach, 
body.widget img.embed {
    height: 24px;
}

body.widget .leaflet-bar a, 
body.widget .leaflet-bar a: hover {
    width: 20px;
    height: 20px;
}

body.widget .leaflet-control-attribution {
    position: initial;
    max-width: 80%;
}

body.widget .leaflet-bottom.leaflet-right {
    bottom: 0;
}

body.widget .leaflet-bottom.leaflet-left {
    bottom: 1em;
}

body.widget .leaflet-bar a, 
body.widget .leaflet-bar a:hover {
    width: 22px;
    height: 22px;
    line-height: 22px;
}

body.widget .leaflet-control-zoom-out {
    font-size: 16px;
}

div.description {
    margin: 0;
    padding: 0;
    border: none;
}

div.description > div {
    padding-left: 1em;
    padding-right: 1em;
}

body.description.left #map,
body.description.right #map {
    width: 75%;
    height: 100%;
}

body.description.left #map {
    float: right;
}

body.description.right #map {
    float: left;
}

body.description.top #map,
body.description.bottom #map {
    width: 100%;
    height: 75%;
}

body.description.right .leaflet-control-attribution {
    right: initial;
    left: 0;
}

div.description.left,
div.description.right {
    width: 25%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

div.description.left {
    float: left;
}

div.description.right {
    float: right;
}

div.description.top,
div.description.bottom {
    width: 100%;
    height: 25%;
    overflow: auto;
    overflow-x:auto;
    overflow-y: hidden;
}
